---
apiVersion: v1
kind: ConfigMap
metadata:
  name: password-manager-api-configmap
  namespace: password-manager
data:
  API_AUTH_MASTER_TOKEN: ''                                                       # REQUIRED
  DB_URI: 'postgresql://admin:admin@password-manager-db-postgresql:5432/password-manager'
  USER_AUTH_PASSWORD_PEPPER: ''                                                   # REQUIRED
  USER_AUTH_SALT_TOKEN_BYTES: '128'
  USER_AUTH_HASH_N_ITERATIONS: '480000'
  PASSWORD_ENCRYPT_PEPPER: ''                                                     # REQUIRED
  JTW_TOKEN_PEPPER: ''                                                            # REQUIRED
  JWT_TOKEN_EXPIRATION_DATE_HOURS: '3'
  USER_DEFAULT_GROUP_NAME: 'default'